node_modules
.node_modules

env
.env


/node_modules
/vars


.env
.env*.local
!.env.example





node_modules/
**/*node_modules

.env.development
.env.production
**/*.env.development

*.log
npm-debug.log*